* {
    box-sizing: border-box;
}

/* body {
    background-image: url('background-waves.png')
} */

#jumbotron-wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.topic-view {
    max-width: 960px;
    margin: 0 auto;
}

.gif-btn {
    margin: 0 5px;
}